// set element-ui default scss variable
$--color-primary: #409EFF;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;

$--button-font-weight: 400;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #ebeef5;

$--table-border-color: #dfe6ec;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
